<!DOCTYPE html>
<html>
<head>
    <title>Welcome to our site!</title>
</head>
<body>
    <h1>Hello from {{ inventory_hostname }}!</h1>
    <p>This is a sample website served by Nginx.</p>
</body>
</html>